.blog{

    width: 400px;
    font-family: arial;
    padding: 20px;
    margin: 10px auto 10px auto;
    
}



.box1{ background-image: url(./hh.jpg/h11.jpg);}
.box2{ background-image: url(./hh.jpg/h-4.jpg);}
.box3{background-image: url(./hh.jpg/h12.jpg)  ;}
.box4{background-image: url(./hh.jpg/h13.webp) ;}
.box5{background-image: url(./hh.jpg/h14.jpg) ;}
.box6{background-image:  url(./hh.jpg/h15.jpg) ;}
.box7{background-image:   url(./hh.jpg/h10.jpg);}
.box8{background-image:  url(./hh.jpg/h2.jpg) ;}
.box9{background-image:   url(./hh.jpg/h3.jpg);}
.box10{background-image:   url(./hh.jpg/h5.jpg);}
.box11{background-image: url(./hh.jpg/h6.jpg);}
.box12{background-image:   url(./hh.jpg/h7.jpg);}
.box13{background-image: url(./hh.jpg/h8.jpg);}
.box14{background-image:  url(./hh.jpg/h9.jpg) ;}
.box15{background-image:  url(./hh.jpg/woman-3190829_640.jpg) ;}
